<div class="container shadow-around rounded bg-light d-flex align-items-center">
    <div class="container m-2">
        <%= message %>
    </div>
    <span class="btn-close mx-2 rounded border border-dark border-2 bg-info" id='close' onclick='this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode); return false;'></span>
</div>