<div class="p-3">
    <%= form_with model: [@user, @user.coments.new] do |f| %>
        <%= f.text_field :post_id, value: post_id, type: :hidden  %>
        <%= f.text_field :user_id, value: current_user.id, type: :hidden  %>
        <%= f.text_field :body, class:'form-control ', placeholder:'Add a comment' %>
    <% end %>
</div>