<div class="row w-100 m-0 p-0 bg-grey position-relative h-min">
    <div class="col-9 p-0 shadow-inset">
        <%= banner?(@user.banner, 'w-100 banner') %>
        <nav>   
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link text-dark active" id="nav-tweets-tab" data-bs-toggle="tab" data-bs-target="#nav-tweets" type="button" role="tab" aria-controls="nav-tweets" aria-selected="true">TWEETS</button>
                <button class="nav-link text-dark" id="nav-photos-tab" data-bs-toggle="tab" data-bs-target="#nav-photos" type="button" role="tab" aria-controls="nav-photos" aria-selected="false">PHOTOS</button>
                <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">FOLLOWING</button>
                <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">FOLLOWERS</button>
                <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">FAVORITES</button>
                <button class="nav-link text-dark" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">LISTS</button>
            </div>
        </nav>
        <div class="tab-content form-size" id="nav-tabContent">
            <div class="tab-pane fade show active w-100 p-0 m-0 bg-transparent h-100" id="nav-tweets" role="tabpanel" aria-labelledby="nav-tweets-tab">
                <%= new_post(@user) %>
                <p class="text-muted p-4 border-bottom bg-light rounded my-2 mx-4">ALL TWEETS</p>
                <%= render "posts/userposts", posts: @user.posts %>   
            </div>
            <div class="tab-pane fade show w-100 pt-3 bg-grey" id="nav-photos" role="tabpanel" aria-labelledby="nav-photos-tab">
                <p>Hello there</p>
            </div>
        </div>
        
          
    </div>
    <div class="col-3 p-0 border-start border-white position-relative m-0 bg-grey">
        <%= render "userprofile" %>  

    </div>
</div>