<div class="bg-grey">
    <div class="d-flex justify-content-between border-bottom px-3 border-white">
        <p class="fs-3 m-0 py-3">TRENDINGS</p>
        <%= image_tag "settings.png", class:'py-4' %>
    </div>
    <div class="d-flex flex-column justify-content-center px-5 my-2">
        <a href="#">#onearmy</a>
        <a href="#">#cast</a>
        <a href="#">#dogecoin</a>
        <a href="#">#unaclassified</a>
        <a href="#">#fatcats</a>
    </div>
</div>