/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body, html {
    height: 100%;
    background-color: rgb(200, 206, 195);
}

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}

 .bg-leftbar {
    background-color: rgb(33, 44, 75);
 }

 .user_avatar {
     height: 90px;
     width: 90px;
 }

 .left-bar-t-color {
     color: rgb(203, 206, 206);
 }

 .navbar-link-list {
     text-decoration: none;
     padding: 15px 0px 15px 0px;
     text-align: center;
     color: rgb(206, 206, 206);
 }

 .topbar-shadow {
     box-shadow: inset 5px -10px 50px rgba(9, 26, 73, 0.507);
 }

 .rigth_bar_style {
    background-color: rgb(116, 116, 116);
    height: 100%;
    max-height: 100%;
    position: sticky;
 }

 .bg-twitter-blue {
     background-color: rgba(40, 172, 224, 0.815);
 }

 .shadow-around {
    box-shadow: 0px 0px 10px black;
 }

 .active {
     background-color: rgba(40, 172, 224, 0.815);
 }

 .banner {
     max-height: 300px;
 }

 .navbar-links:hover {
     background-color: rgba(40, 172, 224, 0.493);
 }

 .bg-grey {
     background-color: rgba(218, 230, 230, 0.849);
 }

 .circle {
     border-radius: 50%;
 }

 .scrollbar-y {
     overflow-y: scroll;
     border: 1px solid red;
     height: 100%;
 }